:root{
  --white: #fff;
  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;

  --green-dark-button: #029A48;
  --light-green: #16B660;
  --green-dark: #009467;
  --green: #008B5A;

  --danger: #E25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 140%;
}